{% extends "base.html" %}
{% block extrahead %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
<script>
  htmx.config.useTemplateFragments = true;
</script>
{% endblock %}
{% block allcontent %}
<div id="content" class="container">
  <h2>Home: <a href="{% url 'index' %}">WISE</a></h2>
  <div class="container">
    <div class="row">
    
      <div class="col col-lg-6">
        <h5>Add A BureauScores</h5>
        <div hx-get="{% url 'clients_BureauScores_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>BureauScores List</h4>
        <div hx-get="{% url 'clients_BureauScores_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Client</h5>
        <div hx-get="{% url 'clients_Client_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Client List</h4>
        <div hx-get="{% url 'clients_Client_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A PDFInformation</h5>
        <div hx-get="{% url 'clients_PDFInformation_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>PDFInformation List</h4>
        <div hx-get="{% url 'clients_PDFInformation_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A RevolvingAccountsDetails</h5>
        <div hx-get="{% url 'clients_RevolvingAccountsDetails_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>RevolvingAccountsDetails List</h4>
        <div hx-get="{% url 'clients_RevolvingAccountsDetails_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}