
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'clients_BureauScores_list' %}">
    BureauScores Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id">id: </label>
      <input class="form-control col-sm-10"
         id="id" type="text"
         name="id" value="{{ object.id }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="experian_score">experian_score: </label>
      <input class="form-control col-sm-10"
         id="experian_score" type="text"
         name="experian_score" value="{{ object.experian_score }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="equifax_score">equifax_score: </label>
      <input class="form-control col-sm-10"
         id="equifax_score" type="text"
         name="equifax_score" value="{{ object.equifax_score }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="transunion_score">transunion_score: </label>
      <input class="form-control col-sm-10"
         id="transunion_score" type="text"
         name="transunion_score" value="{{ object.transunion_score }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}