
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'clients_BureauScores_list' %}">
    BureauScores Listing
    </a>
</p>
    
<table class="table">
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>experian_score</td><td>{{ object.experian_score }}</td></tr>
    <tr><td>equifax_score</td><td>{{ object.equifax_score }}</td></tr>
    <tr><td>transunion_score</td><td>{{ object.transunion_score }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}