
{% extends "base.html" %}
{% block content %}
{% for object in object_list %}
  <div class="m-2">
    <a href="{{object.get_absolute_url}}">{{object}}</a>
    <small class="ml-5">
      <a href="{% url 'clients_BureauScores_delete' object.pk %}">
        (Delete)
      </a>
    </small>
  </div>
{% endfor %}
<div>
  <a class="btn btn-primary"
    href="{% url 'clients_BureauScores_create' %}">
  Create a new BureauScores
  </a>
</div>
{% endblock %}
