{% extends "base.html" %}
{% load static %} {# Asegúrate de cargar los archivos estáticos si es necesario #}
{% block content %}
<div class="container mt-5">
  <h2>List of Clients</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Employer Name</th>
        <th scope="col">SSN</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
        <td>{{ object.employer_name }}</td>
        <td>{{ object.social_security_number }}</td>
        <td>{{ object.birthdate }}</td>
        <td>{{ object.phone_number }}</td>
        <td>
          <a href="{% url 'clients_Client_delete' object.pk %}" class="text-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No clients have been added yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-primary" href="{% url 'clients_Client_create' %}">
    Create a new Client
  </a>
</div>
{% endblock %}

