{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-secondary" href="{% url 'clients_Client_list' %}">
    ← Back to Client Listing
    </a>
</p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.errors }}
  </div>

  <h3>Personal Information</h3>
  <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label" for="name">Name:</label>
      <div class="col-sm-9">
        <input class="form-control"
               id="name" type="text"
               name="name" value="{{ object.name }}" placeholder="Full Name">
      </div>
  </div>
  <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label" for="birthdate">Birthdate:</label>
      <div class="col-sm-9">
        <input class="form-control"
               id="birthdate" type="date"
               name="birthdate" value="{{ object.birthdate }}">
      </div>
  </div>
  <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label" for="social_security_number">Social Security Number:</label>
      <div class="col-sm-9">
        <input class="form-control"
               id="social_security_number" type="text"
               name="social_security_number" value="{{ object.social_security_number }}" placeholder="XXX-XX-XXXX">
      </div>
  </div>

  <h3>Contact Details</h3>
  <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label" for="email">Email:</label>
      <div class="col-sm-9">
        <input class="form-control"
               id="email" type="email"
               name="email" value="{{ object.email }}" placeholder="example@domain.com">
      </div>
  </div>
  <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label" for="phone_number">Phone Number:</label>
      <div class="col-sm-9">
        <input class="form-control"
               id="phone_number" type="text"
               name="phone_number" value="{{ object.phone_number }}" placeholder="(555) 555-5555">
      </div>
  </div>

  <h3>Addresses</h3>
  <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label" for="billing_address">Billing Address:</label>
      <div class="col-sm-9">
        <input class="form-control"
               id="billing_address" type="text"
               name="billing_address" value="{{ object.billing_address }}" placeholder="1234 Main St, City, State, 00000">
      </div>
  </div>
  <div class="form-group row mb-4">
      <label class="col-sm-3 col-form-label" for="residential_address">Residential Address:</label>
      <div class="col-sm-9">
        <input class="form-control"
               id="residential_address" type="text"
               name="residential_address" value="{{ object.residential_address }}" placeholder="1234 Main St, City, State, 00000">
      </div>
  </div>

  <div class="text-right">
    <input type="submit" value="Save" class="btn btn-primary btn-lg">
  </div>
</form>

{% endblock %}
