{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'clients_Client_list' %}">
    Client Listing
    </a>
</p>

<div class="container">
    <div class="row mb-3">
        <div class="col-sm">
            <div><strong>Created:</strong> </div>
            <div>{{ object.created }}</div>
        </div>
        <div class="col-sm">
            <div><strong>Last Updated:</strong></div>
            <div>{{ object.last_updated }}</div>
        </div>
        <div class="col-md">
            <div><strong>Social Security Number:</strong></div>
            <div>{{ object.social_security_number }}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div><strong>Name:</strong></div>
            <div>{{ object.name }}</div>
        </div>
        <div class="col-md">
            <div><strong>Email:</strong> </div>
            <div>{{ object.email }}</div>
        </div>
        <div class="col-md">
            <div><strong>Phone Number:</strong></div>
            <div>{{ object.phone_number }}</div>
        </div>
        <div class="col-md">
            <div><strong>Birthdate:</strong></div>
            <div>{{ object.birthdate }}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div><strong>Billing Address:</strong></div>
            <div>{{ object.billing_address }}</div>
        </div>
        <div class="col-md">
            <div><strong>Residential Address:</strong></div>
            <div>{{ object.residential_address }}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div><strong>Employer Name:</strong></div>
            <div>{{ object.employer_name }}</div>
        </div>
    </div>
    <div class="mt-3">
        <a class="btn btn-sm btn-primary" href="{{object.get_update_url}}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'clients_PDFInformation_create' object.id %}">Upload PDF</a>
    </div>
</div>


    
<div class="container mt-4">
    <h3>PDF Files and Credit Scores</h3>
    {% if object.pdfinformation_set.all %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">PDF File Name</th>
                    <th scope="col">Uploaded On</th>
                    <th scope="col" class="text-center">Experian</th>
                    <th scope="col" class="text-center">Equifax</th>
                    <th scope="col" class="text-center">TransUnion</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for pdf in object.pdfinformation_set.all %}
                    {% for score in pdf.bureauscores_set.all %}
                        <tr>
                            <td>{{ pdf.file_name }}</td>
                            <td>{{ pdf.created|date:"Y-m-d H:i" }}</td>
                            <td class="text-center"><span class="badge {% if score.experian_score >= 720 %}bg-success{% elif score.experian_score >= 690 %}bg-primary{% elif score.experian_score >= 630 %}bg-info{% else %}bg-danger{% endif %} text-white">{{ score.experian_score }}</span></td>
                            <td class="text-center"><span class="badge {% if score.equifax_score >= 720 %}bg-success{% elif score.equifax_score >= 690 %}bg-primary{% elif score.equifax_score >= 630 %}bg-info{% else %}bg-danger{% endif %} text-white">{{ score.equifax_score }}</span></td>
                            <td class="text-center"><span class="badge {% if score.transunion_score >= 720 %}bg-success{% elif score.transunion_score >= 690 %}bg-primary{% elif score.transunion_score >= 630 %}bg-info{% else %}bg-danger{% endif %} text-white">{{ score.transunion_score }}</span></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs" role="group">
                                    <a href="{% url 'clients_PDFInformation_detail' pdf.pk %}" class="btn btn-sm btn-secondary">View</a>
                                    <a href="{% url 'clients_PDFInformation_delete' pdf.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>{{ pdf.file_name }}</td>
                            <td>{{ pdf.created|date:"Y-m-d H:i" }}</td>
                            <td colspan="3">No scores available</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs" role="group">
                                    <a href="{% url 'clients_PDFInformation_detail' pdf.pk %}" class="btn btn-sm btn-secondary">View</a>
                                    <a href="{% url 'clients_PDFInformation_delete' pdf.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>No PDF files uploaded for this client.</div>
    {% endif %}
</div>
{% endblock %}
