
{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="file_path">Select PDF: </label>
      <input class="form-control col-sm-10" id="file_path" type="file" name="file_path" value="{{ object.file_path }}">
  </div>
  <input type="hidden" name="client_id" value="{{ client_id }}">
  <input type="submit" value="Save" class="btn btn-sm btn-primary">
</form>

{% endblock %}