{% extends "base.html" %}
{% load static %}
{% block content %}
    
<div class="container">
    <div class="row mb-3">
        <div class="col-sm">
            <div><strong>Created:</strong> </div>
            <div>{{ object.created }}</div>
        </div>
        <div class="col-sm">
            <div><strong>Last Updated:</strong></div>
            <div>{{ object.last_updated }}</div>
        </div>
        <div class="col-md">
            <div><strong>File Name:</strong></div>
            <div>{{ object.file_name }}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div><strong>File Type:</strong></div>
            <div>{{ object.type }}</div>
        </div>
        <div class="col-md">
            <div><strong>File Size:</strong></div>
            <div>{{ object.file_size }}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div><strong>Created:</strong></div>
            <div>{{ object.created }}</div>
        </div>
        <div class="col-md">
            <div><strong>Last Updated:</strong></div>
            <div>{{ object.last_updated }}</div>
        </div>
    </div>

    <!-- Bootstrap Accordion for RevolvingAccounts -->
    <div id="accordion">
        {% for account in object.revolvingaccounts_set.all %}
        <div class="card">
            <div class="card-header" id="heading{{ forloop.counter }}">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                        {{ account.account_name }}
                    </button>
                </h5>
            </div>

                <div class="card-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Bureau</th>
                                <th>Account #</th>
                                <th>High Balance</th>
                                <th>Last Verified</th>
                                <th>Date of Last Activity</th>
                                <th>Date Reported</th>
                                <th>Date Opened</th>
                                <th>Balance Owed</th>
                                <th>Closed Date</th>
                                <th>Account Rating</th>
                                <th>Account Description</th>
                                <th>Dispute Status</th>
                                <th>Creditor Type</th>
                                <th>Account Status</th>
                                <th>Payment Status</th>
                                <th>Creditor Remarks</th>
                                <th>Payment Amount</th>
                                <th>Last Payment</th>
                                <th>Term Length</th>
                                <th>Past Due Amount</th>
                                <th>Account Type</th>
                                <th>Payment Frequency</th>
                                <th>Credit Limit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in account.revolvingaccountsdetails_set.all %}
                            <tr>
                                <td>{{ detail.bureau }}</td>
                                <td>{{ detail.account_number }}</td>
                                <td>{{ detail.high_balance }}</td>
                                <td>{{ detail.last_verified }}</td>
                                <td>{{ detail.date_of_last_activity }}</td>
                                <td>{{ detail.date_reported }}</td>
                                <td>{{ detail.date_opened }}</td>
                                <td>{{ detail.balance_owed }}</td>
                                <td>{{ detail.closed_date }}</td>
                                <td>{{ detail.account_rating }}</td>
                                <td>{{ detail.account_description }}</td>
                                <td>{{ detail.dispute_status }}</td>
                                <td>{{ detail.creditor_type }}</td>
                                <td>{{ detail.account_status }}</td>
                                <td>{{ detail.payment_status }}</td>
                                <td>{{ detail.creditor_remarks }}</td>
                                <td>{{ detail.payment_amount }}</td>
                                <td>{{ detail.last_payment }}</td>
                                <td>{{ detail.term_length }}</td>
                                <td>{{ detail.past_due_amount }}</td>
                                <td>{{ detail.account_type }}</td>
                                <td>{{ detail.payment_frequency }}</td>
                                <td>{{ detail.credit_limit }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}