
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'clients_RevolvingAccountsDetails_list' %}">
    RevolvingAccountsDetails Listing
    </a>
</p>
    
<table class="table">
    <tr><td>account_rating</td><td>{{ object.account_rating }}</td></tr>
    <tr><td>last_payment</td><td>{{ object.last_payment }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>payment_status</td><td>{{ object.payment_status }}</td></tr>
    <tr><td>creditor_remarks</td><td>{{ object.creditor_remarks }}</td></tr>
    <tr><td>date_opened</td><td>{{ object.date_opened }}</td></tr>
    <tr><td>high_balance</td><td>{{ object.high_balance }}</td></tr>
    <tr><td>closed_date</td><td>{{ object.closed_date }}</td></tr>
    <tr><td>date_of_last_activity</td><td>{{ object.date_of_last_activity }}</td></tr>
    <tr><td>account_number</td><td>{{ object.account_number }}</td></tr>
    <tr><td>date_reported</td><td>{{ object.date_reported }}</td></tr>
    <tr><td>balance_owed</td><td>{{ object.balance_owed }}</td></tr>
    <tr><td>account_status</td><td>{{ object.account_status }}</td></tr>
    <tr><td>payment_amount</td><td>{{ object.payment_amount }}</td></tr>
    <tr><td>creditor_type</td><td>{{ object.creditor_type }}</td></tr>
    <tr><td>dispute_status</td><td>{{ object.dispute_status }}</td></tr>
    <tr><td>last_verified</td><td>{{ object.last_verified }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>account_description</td><td>{{ object.account_description }}</td></tr>
    <tr><td>term_length</td><td>{{ object.term_length }}</td></tr>
    <tr><td>pdf_data_id</td><td>{{ object.pdf_data_id }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}