
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'clients_RevolvingAccountsDetails_list' %}">
    RevolvingAccountsDetails Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="account_rating">account_rating: </label>
      <input class="form-control col-sm-10"
         id="account_rating" type="text"
         name="account_rating" value="{{ object.account_rating }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_payment">last_payment: </label>
      <input class="form-control col-sm-10"
         id="last_payment" type="datetime-local"
         name="last_payment" value="{{ object.last_payment }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="payment_status">payment_status: </label>
      <input class="form-control col-sm-10"
         id="payment_status" type="text"
         name="payment_status" value="{{ object.payment_status }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="creditor_remarks">creditor_remarks: </label>
      <input class="form-control col-sm-10"
         id="creditor_remarks" type="text"
         name="creditor_remarks" value="{{ object.creditor_remarks }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="date_opened">date_opened: </label>
      <input class="form-control col-sm-10"
         id="date_opened" type="datetime-local"
         name="date_opened" value="{{ object.date_opened }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="high_balance">high_balance: </label>
      <input class="form-control col-sm-10"
         id="high_balance" type="text"
         name="high_balance" value="{{ object.high_balance }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="closed_date">closed_date: </label>
      <input class="form-control col-sm-10"
         id="closed_date" type="datetime-local"
         name="closed_date" value="{{ object.closed_date }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="date_of_last_activity">date_of_last_activity: </label>
      <input class="form-control col-sm-10"
         id="date_of_last_activity" type="datetime-local"
         name="date_of_last_activity" value="{{ object.date_of_last_activity }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="account_number">account_number: </label>
      <input class="form-control col-sm-10"
         id="account_number" type="text"
         name="account_number" value="{{ object.account_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="date_reported">date_reported: </label>
      <input class="form-control col-sm-10"
         id="date_reported" type="datetime-local"
         name="date_reported" value="{{ object.date_reported }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="balance_owed">balance_owed: </label>
      <input class="form-control col-sm-10"
         id="balance_owed" type="number"
         name="balance_owed" value="{{ object.balance_owed }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="account_status">account_status: </label>
      <input class="form-control col-sm-10"
         id="account_status" type="text"
         name="account_status" value="{{ object.account_status }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="payment_amount">payment_amount: </label>
      <input class="form-control col-sm-10"
         id="payment_amount" type="number"
         name="payment_amount" value="{{ object.payment_amount }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="creditor_type">creditor_type: </label>
      <input class="form-control col-sm-10"
         id="creditor_type" type="text"
         name="creditor_type" value="{{ object.creditor_type }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="dispute_status">dispute_status: </label>
      <input class="form-control col-sm-10"
         id="dispute_status" type="text"
         name="dispute_status" value="{{ object.dispute_status }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_verified">last_verified: </label>
      <input class="form-control col-sm-10"
         id="last_verified" type="text"
         name="last_verified" value="{{ object.last_verified }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id">id: </label>
      <input class="form-control col-sm-10"
         id="id" type="text"
         name="id" value="{{ object.id }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="account_description">account_description: </label>
      <input class="form-control col-sm-10"
         id="account_description" type="text"
         name="account_description" value="{{ object.account_description }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="term_length">term_length: </label>
      <input class="form-control col-sm-10"
         id="term_length" type="text"
         name="term_length" value="{{ object.term_length }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="pdf_data_id">pdf_data_id: </label>
      {{ form.pdf_data_id }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}