{% extends "base.html" %}
{% block content %}
<div class="m-2"><h4>clients</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'clients_Client_list' %}">Client Listing</a></div>
<div class='container'>
<div class='card'>
<div class='card-body'>
<div><a href="{% url 'htmx' %}">HTMX UI</a></div>
</div>
</div>
</div>
{% endblock %}